<div id="you">
    <h3>
    <%= @question %>
    </h3>
    <h4>
    - You
    </h4>
</div>

<div id="coach">
  <h3>
  <%= @answer %>
  </h3>
  <h4>
  - Your Coach
  </h4>
</div>

<%= link_to "Back", question_path %>
